.about {
  @apply mx-auto grid pt-10 md:mx-auto md:w-8/12 lg:w-11/12 lg:grid-cols-2 lg:items-center lg:gap-32;
  &__image {
    @apply relative mx-auto min-h-[300px] w-full overflow-hidden rounded md:h-[400px]  md:w-[300px] md:justify-center  lg:min-h-[650px] lg:w-[450px];
  }
  &__content {
    @apply pt-10 lg:gap-4;
  }
  &__p {
    @apply lg:pt-8 lg:pb-10 lg:text-xl;
  }
}
.airplane {
  left: auto;
  top: auto;
  right: 100px;
  bottom: 100px;
  width: 110px;
  opacity: 1;
}
