.aboutkofo {
  @apply grid h-full lg:grid-cols-2 py-20 lg:justify-items-center lg:gap-20 gap-7;
  &__image {
    @apply relative mx-auto min-h-[300px] md:w-2/5 lg:w-full w-full aspect-image overflow-hidden;
  }
  &__content {
    @apply flex flex-col justify-center items-start  md:w-4/5 mx-auto lg:gap-4;
  }
  &__h2 {
    @apply text-5xl md:text-6xl lg:text-7xl;
  }
  &__button {
    @apply relative my-8 flex items-center justify-between md:overflow-visible;
  }
  &__svg {
    @apply absolute lg:left-[335px] md:left-[477px] hidden w-28 md:block;
    animation: mymove 3s 1;
    @keyframes mymove {
      0% {
        top: 0px;
        transform: translateX(460px);
      }
      100% {
        top: 0px;
        transform: translateX(0px);
      }
    }
  }
}
