.about {
  @apply px-container lg:items-center pt-10 md:w-8/12 lg:w-11/12 md:mx-auto grid lg:grid-cols-2 mx-auto lg:gap-32 relative top-[15vh];
  &__image {
    @apply relative mx-auto min-h-[300px] w-full overflow-hidden rounded md:h-[400px]  md:w-[300px] md:justify-center  lg:min-h-[650px] lg:w-[450px];
  }
  &__content {
    @apply pt-10 lg:gap-4;
  }
  &__p {
    @apply lg:pt-8 lg:pb-10 lg:text-xl;
  }
  &__button {
    @apply relative my-8 flex items-center justify-between md:overflow-visible;
  }
  &__svg {
    @apply absolute right-0 hidden w-28 md:block;
    animation: mymove 3s 1;
    @keyframes mymove {
      0% {
        top: 0px;
        transform: translateX(260px);
      }
      100% {
        top: 0px;
        transform: translateX(0px);
      }
    }
  }
}
