.banner {
  @apply grid min-h-fit content-center items-center py-20;
  @media only screen and (min-width: 1010px) {
    grid-template-columns: 2fr 1fr;
  }

  &__body {
    @apply m-0;
  }
  &__title {
    @apply text-left;
  }
  &__content {
    @apply flex flex-col md:gap-4 lg:gap-6;
  }
  &__desc {
    @apply flex flex-col pb-3 lg:gap-20;
  }
  &__button {
    @apply relative flex  items-center;
  }
  &__svg {
    @apply absolute right-0 hidden w-28 md:block;
    animation: mymove 3s 1;
    @keyframes mymove {
      0% {
        top: 0px;
        transform: translateX(260px);
      }
      100% {
        top: 0px;
        transform: translateX(0px);
      }
    }
  }
}
