.banner {
  @apply grid min-h-fit content-center items-center px-container sm:px-sm-container lg:px-container lg:justify-items-center gap-8 py-20;
  @media only screen and (min-width: 1010px) {
    grid-template-columns: 1fr 1fr;
  }

  &__body {
    @apply m-0;
  }
  &__title {
    @apply text-left;
  }
  &__content {
    @apply lg:pt-10;
  }
}
