.blogcard {
  @apply grid md:grid-cols-2  gap-8 pt-4 lg:pt-10;
  &__image {
    @apply relative min-h-[200px] md:aspect-video w-full overflow-hidden;
  }
  &__body {
    @apply grid gap-4 py-8 px-4;
  }
  &__content {
    @apply flex items-center gap-4;
  }
}
.header {
  @apply md:flex justify-between items-center;
}
.h3 {
  @apply text-[28px] md:text-3xl lg:text-4xl;
}
