.btn {
  @apply inline-block rounded-md py-4  px-6  text-center  text-base font-bold  tracking-[0.08em];
  transition: transform 300ms ease, background-color 300ms ease;
  transform-style: preserve-3d;

  &:hover {
    transform: scale3d(0.96, 0.96, 1.01);
  }

  &--round {
    @apply inline-flex aspect-square items-center justify-center p-0;
  }

  &--primary {
    @apply bg-[#e2e2e2] text-[#747474];
  }

  &--primary:hover {
    @apply bg-[#064EA4] text-neutral-100;
  }
  &--secondary {
    @apply border-2 border-[#c9c9c9] py-2 px-3 rounded text-[#747474] font-medium;
  }

  &--secondary:hover {
    @apply text-[#747473];
  }
}
