/* ::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.carosol {
  width: calc(550px + 1px);
  position: absolute;
  height: 100vw;
  width: 100%;
  overflow-y: auto;
  padding-top: 200px;
  overflow-x: hidden;
  margin: 0%;
  transform: rotate(-90deg) translateY(-60%);
  position: absolute; 
  transform-origin: top;
  display: grid;
}
.carocard {
  @apply bg-secondary1 aspect-square relative  lg:w-[550px] lg:h-[550px] lg:gap-4;

   &__image {
    @apply hover:scale-125 transition-all duration-500;
  } 
  &__chipset {
    @apply absolute bottom-4  text-center flex  content-center flex-col lg:flex-row left-1/2  lg:w-[550px] -translate-x-1/2 lg:first-letter:translate-x-0
  justify-items-center items-center justify-between lg:px-8 w-full;

    & h3,
    p {
      @apply text-neutral-400 m-0  border-neutral-200;
    }
  }
}

.squares > div {
  height: 550px;
  margin: 10px 0;
  transform: rotate(90deg);
} */

.carousel {
  @apply py-10 px-0 bg-secondary2;
  &--sticky {
    @apply w-full overflow-hidden sticky top-[50px] lg:pl-20;
  }
  &--wrapper {
    @apply relative grid lg:flex  lg:gap-4 md:grid-cols-2 py-8;
  }
  &__card {
    @apply flex-shrink-0 bg-secondary1 aspect-square relative lg:w-[550px] lg:h-[550px] lg:gap-4 overflow-hidden hover:cursor-pointer;

    &__image {
      @apply hover:scale-110 transition-all duration-500;
    }

    &__chipset {
      @apply absolute bottom-4  text-center flex  content-center flex-col lg:flex-row left-1/2  lg:w-[550px] -translate-x-1/2 lg:first-letter:translate-x-0
      justify-items-center items-center justify-between lg:px-8;

      & h3,
      p {
        @apply text-neutral-400 m-0;
      }
    }
  }
}
