.contact {
  @apply pt-44 pb-28;

  &__title {
    @apply grid justify-between lg:gap-5 pb-14 md:items-center;
    @media only screen and (min-width: 1010px) {
      grid-template-columns: 2fr 1fr;
    }
    .contact__tag {
      @apply absolute right-0 top-8 hidden w-28 md:block;
      animation: mymove 3s 1;
      @keyframes mymove {
        0% {
          /* top: 0px; */
          transform: translateX(260px);
        }
        100% {
          /* top: 0px; */
          transform: translateX(0px);
        }
      }
    }

    &__body {
      @apply m-0;
    }
    &__title {
      @apply m-0 text-left;
    }
    &__content {
      @apply mb-7 lg:pt-16;
    }
  }

  &__title {
    grid-column: 1 / -1;
    @apply mb-0 pt-8 text-center text-4xl lg:text-left;
  }
  &__desc {
    grid-column: 1 / -1;
    @apply text-center md:mx-12 lg:mx-0 lg:text-left;
  }

  &__body {
    @apply lg:w-[60%] lg:mx-auto grid gap-8;

    & .form {
      &:nth-child(6) {
        grid-column: 1 / -1;
      }
    }
  }
}
