.main {
  @apply grid gap-10 py-16 md:grid-cols-2 lg:grid-cols-4;
}
.card {
  @apply grid transform overflow-hidden rounded-2xl  shadow-dark transition duration-300 ease-in-out hover:translate-y-1 hover:scale-y-105 md:max-w-full lg:max-w-xl;

  &__image {
    @apply relative  duration-300 ease-in-out hover:translate-y-1;
  }
  &__chipset {
    @apply absolute flex justify-end gap-3;

    &__chip {
      @apply items-center  justify-center rounded-full py-3 px-4 align-middle text-xs font-bold shadow-base sm:px-6;

      &--primary {
        @apply bg-primary text-neutral-100;
      }

      /* &--secondary {
        @apply bg-neutral-300 text-neutral-700;
      } */
    }
  }

  &__header {
    @apply mb-10 text-center text-[85px];
  }

  &__body {
    @apply p-6 pt-0;
  }

  &__title {
    @apply mt-6 duration-300 ease-in-out  hover:text-primary;

    &--line-2 {
      @apply line-clamp-2;
    }
  }

  &__desc {
    @apply text-neutral-500 line-clamp-4;
  }
  &__design {
    @apply absolute left-12 bottom-52 hidden w-28 lg:block;
  }
  &__actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, 36px);
    @apply items-center gap-4;
  }

  &__avatar {
    @apply aspect-square w-10 overflow-hidden rounded-full;
  }
}
