.card {
  @apply grid  gap-7 md:grid-cols-2 lg:grid-cols-4 w-full;

  &__image {
    @apply relative min-h-[290px] md:min-h-[350px] lg:min-h-[270px] w-full overflow-hidden;
  }

  &__header {
    @apply mb-10 text-center text-[85px];
  }

  &__body {
    @apply p-6 pt-0;
  }

  &__title {
    @apply mt-6;
  }

  &__desc {
    @apply text-neutral-500;
  }
  &__design {
    @apply absolute w-28 md:left-1 lg:left-16 md:bottom-2 lg:bottom-16 hidden md:block;
  }
}
.h2 {
  @apply text-4xl md:text-[60px] lg:text-[70px] text-center mb-10;
}
