a,div{color: black;}
.footer {
    @apply gap-3 bg-[#f1f1f1] px-4 pt-16 md:px-16 lg:px-container overflow-hidden ;
    &__line {
      @apply h-[1px] w-[100%] rounded-full bg-secondary1 lg:col-span-2;
    }
    
    &__p1 {
      @apply py-10  lg:py-16 text-center items-center;
    }
    &__p2 {
      @apply py-10 grid grid-cols-1 md:grid-cols-2 md:grid-rows-1  lg:py-16 md:w-4/5 mx-auto  content-between;
    }

    &__links {
        @apply flex-wrap gap-3 mb-6;
        /* @media screen and (min-width: 375px) {
          @apply grid-cols-2;
        } */
    }

    &__info {
        @apply grid md:text-end;
    }
  
    &__socialicons {
      @apply flex gap-6 md:justify-end mb-8;
    }
}