a,
div {
  color: black;
}
.footer {
  @apply gap-3 bg-[#f1f1f1]  pt-16 overflow-hidden;
  &__line {
    @apply h-[1px] w-[100%] rounded-full bg-secondary1 lg:col-span-2;
  }

  &__p1 {
    @apply py-10  lg:py-16 text-center items-center;
  }
  &__p2 {
    @apply py-10 grid grid-cols-1 md:grid-cols-2 md:grid-rows-1  lg:py-16 mx-auto  content-between;
  }

  &__links {
    @apply flex flex-wrap gap-3 mb-6;
  }

  &__info {
    @apply grid md:text-end;
  }

  &__socialicons {
    justify-content: flex-end;
    @apply flex gap-6 md:justify-end mb-8;
  }
  &__copyright {
    @apply mb-0 text-base md:text-xxl;
  }
}
