.fromblog {
  @apply min-h-fit content-center items-center py-20;

  &__content {
    @apply flex flex-col px-10 lg:flex-row justify-between items-center mb-10;
  }
  &__body {
    @apply grid lg:grid-cols-2 justify-items-center gap-8 pb-16 lg:pb-24;
  }

  &__card {
    @apply grid grid-cols-1 overflow-hidden;

    &__image {
    }
    &__body {
      @apply p-8;
      &__title {
      }
      &__desc {
      }
      &__date {
      }
    }
  }

  /* &__card {
    @apply flex max-w-xl p-8 flex-col justify-between overflow-hidden;

    &__figure {
      @apply relative m-0 aspect-h-image w-full p-0;
    }

    &__content {
      @apply flex h-full flex-col justify-between p-8;
    }

    &__title {
      @apply mb-1 h-9 line-clamp-1;
    }

    &__desc {
      @apply m-0 my-0 h-16 p-0 line-clamp-2;
    }
  } */
}
