.facts {
  @apply px-container mx-auto pt-10;
  &__header {
    @apply grid lg:grid-cols-2 gap-6;
  }
  &__image {
    @apply relative mx-auto md:justify-center min-h-[300px] md:h-[500px]  w-full  overflow-hidden rounded  lg:min-h-[650px] lg:w-[500px];
  }

  &__content {
    @apply w-8/12 flex flex-col lg:justify-center  gap-4 lg:pl-1 mx-auto md:gap-4 lg:text-xl lg:pt-8 lg:pb-10;
    & div {
      align-items: flex-end;
      @apply flex gap-1;
      & h2 {
        @apply m-0;
      }

      & span {
        @apply lg:text-2xl md:text-2xl;
      }
    }
  }
}
