header {
  .Navigation {
    position: fixed;
    height: 15vh;
    width: 100%;
    @apply top-0 z-10 m-0 flex  flex-row items-center justify-between  bg-neutral-400 px-container;

    h2 {
      margin: 0;
    }
    & .clicked {
      display: none;
      + .humbur {
        & > svg {
          transition: all 0.2s linear;
        }
      }
      &:checked {
        + .humbur {
          & > svg {
            transition: all 0.2s linear;
            @apply rotate-45;
          }
        }
      }
    }
    &__footer {
      @apply flex flex-col items-center gap-4 md:flex-row justify-between;
      &__location {
        @apply flex items-center md:-order-last;
        & p {
          @apply m-0;
        }
      }
    }
  }

  nav {
    display: fixed;
    list-style: none;
    padding: 0;
    justify-items: center;
    position: fixed;
    height: 85vh;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 7;
    transition: all 0.2s ease-in-out;
    left: 0;
    top: -100%;
    @apply px-10;

    & ul {
      @apply mt-4 p-0;
      & li {
        @apply py-1;
        & a {
          text-decoration: none;
          &:hover {
            text-decoration: none;
            cursor: pointer;
          }
          & h2 {
            @apply m-0 py-3 transition-all duration-300 hover:text-neutral-300;
          }
        }
      }
    }
  }
  &:has(input[type='checkbox']:checked) {
    > nav {
      /* display: block; */
      top: 15vh;
      transition: all 0.2s ease-in-out;
    }
  }
  .humbur {
    /* active:-rotate-45 */
    @apply m-0 rounded-full transition-all
    duration-200 hover:bg-neutral-300 hover:fill-neutral-400;
  }
}
