.ourNews {
  @apply min-h-screen content-center justify-items-center gap-8 py-36;

  &__title {
    @apply grid gap-5 md:items-center justify-between;
    @media only screen and (min-width: 1010px) {
      grid-template-columns: 2fr 1fr;
    }
    &__svg {
      @apply absolute right-0 top-8 hidden w-28 md:block;
      animation: mymove 3s 1;
      @keyframes mymove {
        0% {
          /* top: 0px; */
          transform: translateX(260px);
        }
        100% {
          /* top: 0px; */
          transform: translateX(0px);
        }
      }
    }
    &__body {
      @apply m-0;
    }
    &__title {
      @apply text-left m-0;
    }
    &__content {
      @apply mb-7 lg:pt-16;
    }
  }

  &__content {
    @apply grid gap-4;
    @media only screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
