.testimonial {
  @apply grid content-center py-12 md:px-6;
}
.testimonialcard {
  @apply flex flex-col items-center justify-center overflow-x-hidden md:flex-row;
}
.testimonial__paragraph {
  @apply m-2 flex flex-col items-center justify-center  bg-neutral-100 py-4  hover:bg-secondary2;
}

.testimonial__actions {
  @apply flex flex-row items-center justify-center gap-4;
}

.testimonial__demo {
  @apply grid justify-center p-0 text-center;
}
.testimonial__avatar {
  @apply aspect-square w-24 overflow-hidden rounded-full;
}
