.testimonial {
  @apply grid min-h-screen content-center items-center justify-center gap-4 bg-secondary3 py-12 px-4 md:px-6 lg:gap-12 lg:px-container;
}
.testimonial__section {
  @apply flex gap-4;
}

.testimonial__paragraph {
  @apply flex h-auto w-[460px] flex-col items-center justify-center bg-neutral-100 p-10 hover:bg-secondary2;
}
