.container {
  @apply mx-auto flex justify-center py-4 md:py-8;
}

.title__body {
  @apply mx-auto ml-0 mr-0 flex max-w-[585px]  flex-col  text-center md:px-6;
}
.title__h4 {
  @apply underline;

  .title__h4::after {
    @apply underline;
  }
}
