.effort {
  @apply grid gap-3 justify-items-stretch  md:grid-cols-2 md:gap-10;

  /* @apply grid px-container md:grid-cols-2 md:gap-10 lg:items-center; */
  &__image {
    @apply relative w-full min-h-[300px] aspect-image overflow-hidden rounded;
  }

  &__info {
    @apply flex flex-col justify-center md:pt-8 lg:gap-10 md:w-3/5 md:mx-auto;
  }
  .vidimg {
    @apply relative box-content rounded-full bg-neutral-300 p-3;
    animation: spin 8s linear infinite;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  svg {
    @apply absolute fill-neutral-100 w-4 top-1/2 left-16 -translate-x-1/2 -translate-y-1/2;
  }
  &__twoline {
    @apply absolute !w-28 !-left-36 !top-56;
  }
}
.company {
  @apply grid  mt-8 mb-28 grid-cols-2 justify-items-center gap-4 md:grid-cols-3 lg:grid-cols-5;
}
