.effort {
  @apply grid md:grid-cols-2 px-container md:gap-32 gap-4 lg:items-center;
  &__image {
    @apply relative mx-auto md:justify-center min-h-[300px] md:h-[400px] md:w-[300px] w-full  overflow-hidden rounded  lg:min-h-[600px] lg:w-[400px];
  }
  __info {
    @apply flex gap-4;
  }
  .vidimg {
    @apply box-content rounded-full bg-neutral-300 p-3;
    animation: spin 8s linear infinite;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  svg {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
.company {
  display: grid;
  @apply mt-8 mb-28 grid-cols-2 justify-items-center gap-4 md:grid-cols-3 lg:grid-cols-5;
}
