.work {
  @apply grid min-h-fit content-center items-center py-16 lg:py-32;

  &__title {
    @apply mb-8 text-left;
  }

  &__item {
    @apply grid justify-items-center gap-8 md:grid-cols-2;
    @media only screen and (min-width: 1010px) {
      grid-template-columns: repeat(3, auto);
    }
  }
  &__card {
    @apply justify-between overflow-hidden  bg-secondary2;

    &__figure {
      @apply relative m-0 aspect-h-image w-full p-0;
    }

    &__content {
      @apply flex h-full flex-col  justify-between gap-10 p-8;
    }

    &__svg {
      @apply mb-8 h-14 w-14;
    }

    &__title {
      @apply mb-4 mt-5 line-clamp-1;
    }

    &__desc {
      @apply my-0 mb-7 h-16 p-0 line-clamp-2;
    }
  }
}
